.features {
    font-family: monospace;
    font-size: medium;
    font-weight: normal;
    color: #000000;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.1em;
    margin: 0.1em;
    direction: ltr;
}
.features div,.features span {
    padding: 0;
    margin: -0.1rem 0;
}
.features .f {
    font-family: sans-serif;
    font-size: x-small;
    font-weight: normal;
    color: #5555bb;
}
.features .xft {
  color: #000000;
  background-color: #eeeeee;
  font-size: medium;
  margin: 0.1em 0em;
}
.features .xft .f {
  color: #000000;
  background-color: #eeeeee;
  font-style: italic;
  font-size: small;
  font-weight: normal;
}

.ll {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    direction: ltr;
    width: 100%;
}

.outeritem {
    display: flex;
    flex-flow: row wrap;
    direction: ltr;
}

.word,.micro,.macro {
    border: 1px solid #4f4c4c;
    border-radius: 0.2em;
    border-spacing: 5px;
    padding: 0.1em;
    margin: 0.4em;
    display: flex;
    flex-flow: row wrap;
    direction: ltr;
    background-color: #ffffff;
}

.prosa {
    border: 1.5px dotted #4f4c4c;
    border-radius: 0.2em;
    padding: 0.1em;
    margin: 0.4em;
    border-color: #a30404;
    display: flex;
    flex-flow: row wrap;
    direction: ltr;
    background-color: #ffffff;
}


.line {
    display: flex;
    flex-flow: row wrap;
    direction: ltr;
}

.ln {
  font-size: small !important;
  padding-right: 1em;
}

.nd {
    font-family: monospace;
    font-size: x-small;
    color: #999999;
}

.hl {
    background-color: #ffee66;
}

.ara,.ara a:visited,.ara a:link {
    font-family: "CharisSIL-R";
    font-size: 12pt;
    color: #000000;
    direction: ltr;
    text-decoration: none;
}

/* What do the following classes do? */

.tr,.tr a:visited,.tr a:link {
    font-family: sans-serif;
    font-size: large;
    color: #000044;
    direction: ltr;
    text-decoration: none;
}
.trb,.trb a:visited,.trb a:link {
    font-family: sans-serif;
    font-size: normal;
    direction: ltr;
    text-decoration: none;
}

.occs {
    font-size: x-small;
}